
  .bedsheets{
   margin: 20px;
   padding: 50px;
   background-color: #b4b4b4;
   color: black;
   text-align: center;
   font-size: 160%;
   font-family:cursive;


 }
 p{
   background-color: #f0f0f0;
   font-family:cursive;
   font-size: 200%;
   font-weight: lighter;
   text-align:center;

 }
 .samples-container1{
   display: flex;
   justify-content: right;
 }
