h1{
  background-color: #b4b4b4;
  color: black;
  text-align: center;
  font-size: 300%;
  font-family: cursive;


}
p{
  background-color: #f0f0f0;
  font-family:cursive;
  font-size: 100%
  font-weight: lighter;
  text-align:center;


}
