
*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  /*css variables*/
  --themecolor: #f5b8f4;
}
.menu-container{
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  background-color: var(--themecolor);
}

.list{
  flex-grow: 2;
  text-align: center;
  padding: 20px 0;
}
