*{
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL XiaoWei', serif;
    --themecolor: #f7cac9;
}

.curtain {
  color: #fa87c7;
  background-color: #f9dbe1;
  font-size: 300%;
  text-align: center;
  margin: 0;
  padding: 50px;
}

.samples-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sample-item{
  text-align: center;
  margin: 20px;
  color: #9614b3;
}
.right{
  margin: 30px
}
