*{
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL XiaoWei', serif;
    --themecolor: #f7cac9;
}

.curtain {
  position: -webkit-sticky;
    position: sticky;
    top: 0;
  color: #fa87c7;
  background-color: #f9dbe1;
  font-size: 300%;
  text-align: center;
  margin: 0;
  padding: 50px;
}

.samples-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sample-item{
  text-align: center;
  margin: 20px;
  color: #9614b3;
}
.sample-item h2{
  margin-bottom: 20px;
}
.right{
  margin: 30px
}
.footer{
position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding:20px;
   background-color:lightslategray;
   color: black;
   text-align: left;
}
