/*GLOBAL STYLE (targets everything) */

*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  /*css variables*/
  --themecolor: #006400;
}

.menu-container{
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  background-color: var(--themecolor);
}

.menu-item{
  border: 1px solid black;
  flex-grow: 1;
  text-align: center;
  padding: 20px 0;
  /*padding: top/bottom left/right */

}

.head-container{
  padding: 70px 0;
  display: flex;
}

.left-item{
  flex-grow: 1;
}
.right-item{
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;

}
.bone-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bone-item{
  text-align: center;
}
