
*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
    /*css variables*/
  }

.web-title {
    color: rgb(78, 114, 114);
    margin: 20px;
    padding: 30px;

    background-color: beige;
    font-size: 300%;
    text-align: center; 
}

.footer{
position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding:20px;
   background-color:lightslategray;
   color: black;
   text-align: left;
}