
.review{
  position: -webkit-sticky;
    position: sticky;
    top: 0;
  color: #745974;
  background-color: #f2d7c6;
  font-size:300%;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.review-item {
  text-align: left;
}

.footer{
position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding:20px;
   background-color:lightslategray;
   color: black;
   text-align: left;
}
